<div id="GenericErrorModal" class="modal d-hidden" style="z-index: 1000">
    <div class="modal-dialog">
        <h2 class="c-red"></h2>
        <p></p>
        <button id="GenericErrorModalButton" class="button button-iconised"><i class="icon-ok"></i>OK</button>
    </div>
</div>